@import "../main";

.splash-container {
  justify-content: center;
  align-items: center;
  font-size: 14px;
  align-self:center;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.splash {
  width: 60%;

  h1 {
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 22em;
    letter-spacing: -0.03em;
  }
}

.fancy {
  color: $primary;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: $grey;
  letter-spacing: 0.5px;
}

.writing {
  text-decoration: none;
  color: $primary;
}

#imgwrapper {
	border-radius: 0em;
	margin-bottom: 4.5em;
  margin-top: 4.5em;
	background-color: #0000;
	font-size: 10px;
  align-self:center;
}

#headerimg {
	overflow: hidden;
	background-color: white;
  margin-bottom: 4.5em;
  width: 60%;
  font-size: 10px;
  color: $grey;

	img {
			display: block;
			margin: auto;
			width: 100%;
	}
}
/* overrides */

main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem;  // offset to negate icon's padding to align with text above
}
