<br />
<h1>{{ .Params.heading }}</h1>
  {{ if isset .Params "handle" }}
     <span class="handle">@{{ .Params.handle }}</span>
  {{ end }}
  <h2>
    {{ .Params.subheading }}
  </h2>
  <p>
  {{ .Params.shortintro }}
  </p>
  <p>
  {{ .Params.pagestructure }}
  </p>
  <p>
  {{ .Params.socialmediatext }}
  </p>
  <p>My e-mail is me at jnordt. You can find me on <a href="https://www.linkedin.com/in/juliannordt/">Linkedin</a> or <a href="https://twitter.com/j_nordt">Twitter</a>.</p>
<!-- div class="post">
        <img src="img/carpet.jpg" alt="headerimg" border="0" />
        <small>Viktor Mikhailovich Vasnetsov (Михайлович Васнецов) (1848–1926), The Flying Carpet (1880), oil on canvas, 165 x 297 cm, Nizhny Novgorod State Art Museum Нижегородский государственный художественный музей, Nizhny Novgorod, Russia. Wikimedia Commons.</small>
</div -->
