{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div id="imgwrapper">
  <div id="headerimg">
    <!--image here-->
    <img src="img/carpet.jpg" alt="wanderer" border="0" />
    Viktor Mikhailovich Vasnetsov (Михайлович Васнецов) (1848–1926), The Flying Carpet (1880), oil on canvas, 165 x 297 cm, Nizhny Novgorod State Art Museum Нижегородский государственный художественный музей, Nizhny Novgorod, Russia. Wikimedia Commons.
  </div>
  <div class="splash-container">

    <div class="splash">

      <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
      {{ if isset .Params "handle" }}
      <span class="handle">@{{ .Params.handle }}</span>
      {{ end }}
      <h2>
        {{ .Params.subheading }}
      </h2>
      <p>
        {{ .Params.shortintro }}
      </p>
    </div>

  </div>
</div>

  {{ partial "social-icons.html" .}}

{{ end }}
